<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/base.scss" />
    <title>Aesternity UI CSS</title>
  </head>
  <body class="main-body">
    <main class="main-content">
      <h1>Content</h1>
      <ul class="content-ul">
        <li><a href="/google-gemini-effect">Google gemini effect</a></li>
        <li><a href="/3d-pin">3D Pin</a></li>
      </ul>
    </main>
  </body>
</html>
