@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Tajawal", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
}

a {
    color: #c9baff;
    text-decoration: none;

    &:hover {
        color: #af9afb;
        text-decoration: underline;
    }
}

.main-body {
    display: grid;
    min-height: 100dvh;
    place-items: center;
}

.content-ul {
    font-size: 1.5rem;

    li {
        margin-bottom: 0.5rem;
    }
}
