<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/base.scss" />
    <link rel="stylesheet" href="./style.scss" />
    <title>3D Pin</title>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="content">
          <h1>Aceternity UI</h1>
          <p>Just CSS only components.</p>
        </div>
        <div class="gradient"></div>
      </div>
    </main>
  </body>
</html>
