body {
    display: grid;
    min-height: 100dvh;
    place-items: center;
}

.card {
    border: 1px solid #333;
    aspect-ratio: 1;
    width: 300px;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    transform: perspective(1000px) rotateX(0deg);
    transition: transform 250ms ease;

    &:hover {
        transform: perspective(1000px) rotateX(45deg);
    }

    .gradient {
        height: 180px;
        width: 100%;
        border-radius: 0.5rem;
        background-image: linear-gradient(-45deg, rgb(132, 161, 255), rgb(212, 3, 227));
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        color: #bbb;
        font-size: 1.1rem;
    }
}
